<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Cart' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list *ngIf="!emptyCart">
    <ion-item #item *ngFor="let product of products" >
      <ion-label (click)="onViewProduct(product);">{{ product.name }}</ion-label>
      <button ion-button icon-only no-margin item-end clear color="" (click)="deleteFromCart(product)">
        <ion-icon name="remove-circle-outline">
        </ion-icon>
      </button>
      <ion-note item-end>{{ product.units }}
      </ion-note>
      <button ion-button icon-only no-margin item-end clear color="" (click)="addToCart(product)">
        <ion-icon name="add-circle-outline">
        </ion-icon>
      </button>
      <ion-note item-end>{{ product.units * product.coins | number }}
      </ion-note>
    </ion-item>
  </ion-list>
  <empty-list *ngIf="emptyCart" title="Geen spaardoelen" message="Wil je er een kiezen in de winkel?" icon="hc-gift2"></empty-list>
</ion-content>

<ion-footer *ngIf="!emptyCart">
  <ion-row padding>
    <ion-col no-padding>
      <button ion-button color="primary" block outline [disabled]='disableSubmit' (click)="goCheckout()">Checkout</button>
    </ion-col>
    <ion-col no-padding>
      <button ion-button color="primary" block clear>TOTAL {{ currency_symbol }} {{ total | number }}</button>
    </ion-col>
  </ion-row>  
</ion-footer>