@font-face {
  font-family: 'healthcoin';
  src:  url('../assets/fonts/healthcoin.eot?vyz122');
  src:  url('../assets/fonts/healthcoin.eot?vyz122#iefix') format('embedded-opentype'),
    url('../assets/fonts/healthcoin.ttf?vyz122') format('truetype'),
    url('../assets/fonts/healthcoin.woff?vyz122') format('woff'),
    url('../assets/fonts/healthcoin.svg?vyz122#healthcoin') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'healthcoin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before {
  font-family: "healthcoin" !important;
  content: $val;
  }
}

// \.([\S]*):before {\n\s*content: "(.*?)";\n}
// @include makeIcon($1, '$2');

@include makeIcon(hc-healthcoin, '\e903');
@include makeIcon(hc-logo, '\e903');
@include makeIcon(hc-pulse2, '\e902');
@include makeIcon(hc-store, '\e9fc');
@include makeIcon(hc-cart4, '\ea01');
@include makeIcon(hc-cart5, '\ea02');
@include makeIcon(hc-cart-add, '\ea03');
@include makeIcon(hc-cart-add2, '\ea04');
@include makeIcon(hc-cart-remove, '\ea05');
@include makeIcon(hc-basket, '\ea06');
@include makeIcon(hc-piggy-bank, '\ea0f');
@include makeIcon(hc-cash2, '\ea12');
@include makeIcon(hc-cash4, '\ea14');
@include makeIcon(hc-envelop, '\ea30');
@include makeIcon(hc-clock2, '\ea4e');
@include makeIcon(hc-clock4, '\ea50');
@include makeIcon(hc-bell2, '\ea58');
@include makeIcon(hc-bell3, '\ea59');
@include makeIcon(hc-bubble-notification, '\eaca');
@include makeIcon(hc-bubble-notification2, '\eaee');
@include makeIcon(hc-user6, '\eb0b');
@include makeIcon(hc-lock2, '\eb51');
@include makeIcon(hc-safe, '\eb57');
@include makeIcon(hc-equalizer, '\eb5b');
@include makeIcon(hc-cog2, '\eb61');
@include makeIcon(hc-pulse, '\eb6f');
@include makeIcon(hc-stats-bars2, '\eb8a');
@include makeIcon(hc-medal-star, '\eb9f');
@include makeIcon(hc-medal, '\eba0');
@include makeIcon(hc-medal2, '\eba1');
@include makeIcon(hc-gift2, '\ebad');
@include makeIcon(hc-spoon-knife, '\ebbc');
@include makeIcon(hc-footprint, '\ebd9');
@include makeIcon(hc-truck, '\ec0f');
@include makeIcon(hc-list2, '\ec5a');
@include makeIcon(hc-more2, '\ec5c');
@include makeIcon(hc-menu3, '\ec6d');
@include makeIcon(hc-menu7, '\ec71');
@include makeIcon(hc-bed2, '\ecdd');
@include makeIcon(hc-heart7, '\ecef');
@include makeIcon(hc-question4, '\ed56');
@include makeIcon(hc-plus-circle2, '\ed61');
@include makeIcon(hc-minus-circle2, '\ed62');
@include makeIcon(hc-checkmark, '\ed6f');
@include makeIcon(hc-enter, '\ed76');
@include makeIcon(hc-exit, '\ed77');
@include makeIcon(hc-arrow-right2, '\edbc');
@include makeIcon(hc-arrow-right3, '\edbd');
@include makeIcon(hc-arrow-right4, '\edbe');
@include makeIcon(hc-arrow-left2, '\edc4');
@include makeIcon(hc-arrow-left3, '\edc5');
@include makeIcon(hc-arrow-left4, '\edc6');
@include makeIcon(hc-circle-up2, '\ede7');
@include makeIcon(hc-circle-right2, '\ede8');
@include makeIcon(hc-circle-down2, '\ede9');
@include makeIcon(hc-circle-left2, '\edea');
@include makeIcon(hc-esc, '\ee41');
@include makeIcon(hc-enter6, '\ee42');
@include makeIcon(hc-checkbox-checked2, '\ee6e');
@include makeIcon(hc-toggle-on, '\ee74');
@include makeIcon(hc-facebook, '\eeef');
@include makeIcon(hc-instagram, '\eef1');
@include makeIcon(hc-twitter, '\eef5');
@include makeIcon(hc-linkedin2, '\ef29');
@include makeIcon(hc-brand, '\e901');
@include makeIcon(hc-fitbit, '\e901');
@include makeIcon(hc-brand2, '\e900');
@include makeIcon(hc-snapchat, '\e900');