.light-theme {
    // ion-content {
    //   background-color: #ff7323;
    // }

    $background-color: red;

   
    .toolbar-background {
      background-color: #ff7323;
    }

    .toolbar-title {
        color: #ffffff;
    }        
  }